html,body{
	width:100%;
	height:100%;
	margin:0px;
}


body{
	background-image:url("./img/bg_wlm.png");
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:top;
	background-color:#220022;
}

.maincontainer{
	width:80%;
	height:80%;
	margin:auto;
}

.footer{
	width: 100%;
	height: 20px;
	margin-top: 8px;
	text-align: center;
}
